.env
new_data.parquet
test/__pycache__/datasets.cpython-313.pyc
Qwen_Qwen3-0.6B_car_knowledge_finetuned_gpt5/*
Qwen_Qwen3-0.6B_car_knowledge_finetuned_gpt5/vocab.json
Qwen3.5_0.8B_car_knowledge_finetuned_gpt5/*
Qwen_Qwen3-0.6B_car_knowledge_finetuned_gemini3/**
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1000/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-1500/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2000/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-2500/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3000/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-3500/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4000/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4500/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-4842/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/optimizer.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/rng_state.pth
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/scheduler.pt
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/trainer_state.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gemini3/checkpoint-500/vocab.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/adapter_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/adapter_model.safetensors
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/added_tokens.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/chat_template.jinja
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/merges.txt
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/README.md
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/special_tokens_map.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/tokenizer_config.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/tokenizer.json
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/training_args.bin
Qwen_Qwen3_06B_car_knowledge_finetuned_gpt5/vocab.json
